body {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

.container {
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-dark {
    background-color: rgb(27, 24, 24) !important;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

a {
    color: #fff;
    text-decoration: none !important;
}

.nav-link:hover {
    color: rgb(78 74 74);
}

li {
    list-style-type: none;
}

.navbar-nav .nav-item {
    display: inline-block;
    padding: 8px;
}

img {
    display: inline-block;
    width: 400px;
    height: 250px;
    padding: 5rem;
}

