@model TmdLesson12.Models.Tmd_TacGia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TmdLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tmd_TacGia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tmd_TenTacGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tmd_TenTacGia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "TmdEdit", new { id = Model.Tmd_MaTG }) |
    @Html.ActionLink("Back to List", "TmdIndex")
</p>
