USE [TranMinhDuc_2210900014]
GO
/****** Object:  Table [dbo].[Tmd_Sach]    Script Date: 12/07/2024 11:18:35 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tmd_Sach](
	[Tmd_MaSach] [char](10) NOT NULL,
	[Tmd_TenSach] [nvarchar](50) NULL,
	[Tmd_SoTrang] [int] NULL,
	[Tmd_NamXB] [date] NULL,
	[Tmd_MaTG] [char](10) NULL,
	[Tmd_TrangThai] [bit] NULL,
 CONSTRAINT [PK_Tmd_Sach] PRIMARY KEY CLUSTERED 
(
	[Tmd_MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tmd_TacGia]    Script Date: 12/07/2024 11:18:36 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tmd_TacGia](
	[Tmd_MaTG] [char](10) NOT NULL,
	[Tmd_TenTacGia] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tmd_TacGia] PRIMARY KEY CLUSTERED 
(
	[Tmd_MaTG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Tmd_Sach] ([Tmd_MaSach], [Tmd_TenSach], [Tmd_SoTrang], [Tmd_NamXB], [Tmd_MaTG], [Tmd_TrangThai]) VALUES (N'2210900014', N'Trần Minh Đức', 100, CAST(N'2004-07-24' AS Date), N'2210900014', 1)
GO
INSERT [dbo].[Tmd_TacGia] ([Tmd_MaTG], [Tmd_TenTacGia]) VALUES (N'2210900014', N'Trần Minh Đức')
GO
ALTER TABLE [dbo].[Tmd_Sach]  WITH CHECK ADD  CONSTRAINT [FK_Tmd_Sach_Tmd_TacGia] FOREIGN KEY([Tmd_MaTG])
REFERENCES [dbo].[Tmd_TacGia] ([Tmd_MaTG])
GO
ALTER TABLE [dbo].[Tmd_Sach] CHECK CONSTRAINT [FK_Tmd_Sach_Tmd_TacGia]
GO
