@{
    ViewBag.Title = "Music";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <!-- Nhúng CSS của Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Nhạc hay</h2>
        <a href="~/Content/ĐIỀU EM KHÔNG MUỐN NGHE - QNT, DICK (prod. by PhongKhin).mp3">ĐIỀU EM KHÔNG MUỐN NGHE - QNT, DICK (prod. by PhongKhin)</a>
        <a href="~/Content/ĐIỀU EM KHÔNG MUỐN NGHE - QNT, DICK (prod. by PhongKhin).mp3" download="ĐIỀU EM KHÔNG MUỐN NGHE - QNT, DICK (prod. by PhongKhin)">Tải về</a>
        <br />
        <a href="~/Content/SAY EM - QNT ft. REFUND BAND - Official Music Video.mp3">SAY EM - QNT ft. REFUND BAND - Official Music</a>
        <a href="~/Content/SAY EM - QNT ft. REFUND BAND - Official Music Video.mp3" download="SAY EM - QNT ft. REFUND BAND - Official Music">Tải về</a>
    </div>
</body>
</html>
