
@{
    ViewBag.Title = "About";
}

<h2>Thông tin thêm - Hình ảnh - TMD</h2>
<img src="~/Content/imgg/co-so-1-truong-dai-hoc-nguyen-trai-7290.jpg" alt="" />
<img src="~/Content/imgg/Du-an-Truong-Dai-hoc-Nguyen-Trai-scaled.jpg" alt="" />

