@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<h4>
    Địa chỉ: Số 28A Lê Trọng Tấn, Hà Đông, Hà Nội <br />
    Điện thoại: 098 192 26 41 <br />
    Email: daihocnguyentrai@gmail.com <br />
    Website: <a href="http://daihocnguyentrai.edu.vn">daihocnguyentrai.edu.vn</a> <br />
</h4>
